<%= form_tag votes_path, method: :post, remote: true, id: 'voting_form' do %>
	<%= hidden_field_tag 'poll[id]', @poll.id %>

	<%= render partial: 'polls/vote_option', collection: @poll.vote_options, as: :option %>

	<% if current_user.voted_for?(@poll) && @poll.open? %>
		<p>You have already voted!</p>
	<% else %>
		<% if @poll.open? %>
			<%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
		<% else %>
			<p> This poll is now closed </p>
		<% end %>
	<% end %>
<% end %>