<% content_for(:page_header) {"Share your opinion"} %>

<!-- Shows poll topic and renders partial form for voting -->
<h2><%= @poll.topic %></h2>

<%= render 'voting_form' %>

<%= link_to 'Back', root_path %>